rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isOwner() {
      return request.auth != null
        && request.auth.uid == 'M8liN8x615QIC6jfzoP1F15Eb0K2';
    }

    match /posts/{postId} {
      allow read: if resource.data.published == true || isOwner();

      allow create: if isOwner()
        && request.resource.data.ownerUid == request.auth.uid;

      allow update: if isOwner()
        && resource.data.ownerUid == request.auth.uid
        && request.resource.data.ownerUid == request.auth.uid;

      allow delete: if isOwner()
        && resource.data.ownerUid == request.auth.uid;
    }
  }
}
